*/src/frontend/public/images/videos.video-[[:space:]]1.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
src/frontend/public/videos/【4K】[[:space:]]72[[:space:]]Seasons[[:space:]][[:space:]]of[[:space:]]Makoto[[:space:]]Shinkai.mp4 filter=lfs diff=lfs merge=lfs -text
